server {
        listen 80;

        access_log /var/log/nginx/baydin-dev.access.log main;
        error_log /var/log/nginx/baydin-dev.error.log warn;

        root /usr/share/nginx/html;
        index  index.html index.htm index.php;

        location ~* \.php$ {
                fastcgi_pass phpfpm-api-vas;
                fastcgi_index  index.php;
        }
}